<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
<div class="container">
    <aside class="sidebar"></aside>
    <div class="main">
        <%- include('../components/header/header.ejs') %>
        <div class="main__messages">1</div>
        <aside class="main__aside">2</aside>
    </div>
</div>
<%- include('partials/scripts') %>
</body>
</html>