<!-- This file is just for navigation purposes -->
<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<style>
    BODY OL {
        padding: 3rem 5rem;
        font-size: 2rem;
    }

    BODY OL LI {
        margin-bottom: 1.5rem;
    }
</style>
<body>
<ol>
    <li><a href="./01_index.html">1. Main page</a></li>
</ol>
<%- include('partials/scripts') %>
</body>
</html>