<head>
    <title>Build system example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <% if (env == 'production') { %>
    <link href="/css/main.css?<%= Date.now() %>" rel="stylesheet">
<% } %>
</head>