@import "~style/lib";

.main {
	flex: 1 0 auto;
	overflow: hidden;

	display: flex;
	flex-wrap: wrap;

	.header {
		flex: 0 0 auto;
	}

	&__messages {
		flex: 1 0 auto;
		//background: skyblue;
		height: calc(100% - #{$headerHeight});

	}

	&__aside {
		flex: 0 1 auto;
		width: 49rem;
		//background: burlywood;
		height: calc(100% - #{$headerHeight});
	}
}