@import "~style/lib";

.header {
	height: $headerHeight;
	width: 100%;
	padding: 1rem 1rem 1rem 1.3rem;
	border-bottom: 1px solid #e8e8e8;
	display: flex;

	&__left, &__right {
		min-width: 50%;
		align-items: center;
	}

	&__right {
		display: flex;
		justify-content: flex-end;
	}

	&__title {
		font-size: 1.6rem;
		font-weight: 800;
	}

	&__actions {
		display: flex;

		&__item {
			margin-right: 0.5rem;
			position: relative;

			font-size: 1.2rem;
			font-style: italic;
			color: #717274;

			&:after {
				content: '|';
				color: #cac1d4;
				margin-left: 0.5rem;
				display: inline-block;
			}

			&:last-child:after {
				display: none;
			}
		}
	}
}
