<header class="header">
    <div class="header__left">
        <h1 class="header__title">#channel name</h1>
        <ul class="header__actions">
            <li class="header__actions__item">star</li>
            <li class="header__actions__item">users</li>
            <li class="header__actions__item">pin</li>
            <li class="header__actions__item">Add a topic</li>
        </ul>
    </div>
    <%- include('icons/icons') %>
</header>