<header class="header">
    <div class="header__left">
        <h1 class="header__title">#channel name</h1>
        <ul class="header__actions">
            <li class="header__actions__item">star</li>
            <li class="header__actions__item">users</li>
            <li class="header__actions__item">pin</li>
            <li class="header__actions__item">Add a topic</li>
        </ul>
    </div>
    <div class="header__right header__icons">
        <span class="header__icons__item _phone"></span>
        <span class="header__icons__item _info"></span>
        <span class="header__icons__item _settings"></span>
        <span class="header__icons__item _email"></span>
        <span class="header__icons__item _star"></span>
    </div>
</header>