%icon-phone, %icon-info, %icon-settings, %icon-email, %icon-star {
	font-family: Slack;
	font-style: normal;
	font-weight: 400;
}

%icon-phone {
	content: '\E092';
}

%icon-info {
	content: '\E008';
}

%icon-settings {
	content: '\E020';
}

%icon-email {
	content: '\E009';
}

%icon-star {
	content: '\E001';
}
